<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LetsPlayTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LetsPlayTimer.Properties.Settings>
            <setting name="StartKey" serializeAs="String">
                <value>NumPad1</value>
            </setting>
            <setting name="StopKey" serializeAs="String">
                <value>NumPad2</value>
            </setting>
            <setting name="RedTime" serializeAs="String">
                <value>900</value>
            </setting>
        </LetsPlayTimer.Properties.Settings>
    </userSettings>
</configuration>